<% if current_user %>
  <h1> Welcome, <%= "#{current_user.username}" %></h1>
  <h3> Personal Information </h3>
  <div class='informations'>
    <p>Number of followers : <%= @github_user.followers %><br></p>
    <p>Number of repos : <%= @github_user.public_repos %></p>
  </div>
<% end %>
