<% if current_user %>
  <h1> Welcome, <%= "#{current_user.username}" %></h1>
  <h3> Personal Information </h3>
  <div class='informations'>
    <p> Followers :
      <% @github_user.followers.each do |follower| %>
        <%= follower.login  %>
        <%= follower.url  %>
      <% end %>
             <br></p>
    <p>Number of repos : <%= %></p>
  </div>
<% end %>
