<section class="hero is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <% if current_user %>
          <%= "#{current_user.username}" %>
        <% else %>
        <h2 class="subtitle">
          Welcome to API curious an app created to discover Github API
        </h2>
        <% end %>
      </h1>
    </div>
  </div>
</section>
