<% if current_user %>
  <h1>Welcome, <%= "#{current_user.username}" %> </h1>
  <%= "#{current_user.nickname}" %>
  
  <%= link_to 'Sign Out', '/signout' %>
<% else %>
  <%= link_to 'Sign In with Github', '/auth/github' %>
<% end %>
